__pycache__/
*.py[cod]
*.egg-info/
.cache/
.venv/
.pytest_cache/
.ruff_cache/
build/
dist/
data/raw/
data/processed/
outputs/
logs/
data/raw/**/*.parquet
data/raw/**/*.csv
data/processed/**/*.parquet
data/processed/**/*.csv
outputs/**/*.parquet
outputs/**/*.csv
logs/**/*.parquet
logs/**/*.csv
config/pybliometrics/pybliometrics.cfg
config/scopus_api_key.txt
config/inst_token.txt
